@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap'); /* font-family: 'Cormorant SC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap'); /* font-family: 'Alkalami', serif; */

*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* Paleta de Cores */
    --color-background: #F2F2F2;

   /* Gráficos */ 
   --color-linhaPrimaria: #15BF81;
   --color-linhaSecundaria: #168C61;
   --color-LinhaTerciaria: #16F28B;
   --color-linhaQuaternaria: #F2295F;
}

body{
    background-color: var(--color-background);
}

#conteudo{
    margin-top: 70px

}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.container *{
    color: black;
}

.container.margin div{
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.container.column{
    flex-direction: column !important;
}
.titlePage{
    font-family: 'Cormorant SC', serif;
    font-size: 48px;
    color: black;
}

.subtitlePage{
    font-family: 'Cormorant SC', serif;
    font-size: 28px;
    color: black;
}
.observacao{
    font-family: 'Cormorant SC', serif;
    color: black;
    opacity: 0.6;
}


/* Janelas de Relatórios */
.janela{
    background-color: hsl(60, 100%, 78%);
    border: 2px solid black;
    padding: 50px;
    box-shadow: 10px 10px 10px black;
}

.janela hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Janelas de Postagens ( GRID ) */

.blog{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    display: flex;
}

.postagem{
    box-shadow: 10px 10px 10px black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    min-height: 450px;
    height: auto;
    width: 350px;
    border: 2px solid black;
}


